<div class="main-container">
  <!-- Profile Picture -->
  <div class="image-row">
    <img src="/profile-pic.jpg" alt="Charlotte Urquhart's Profile Picture" class="avatar-image">
  </div>

  <!-- Name -->
  <div class="name-row">
    Charlotte Urquhart
  </div>

  <!-- Links dynamically rendered from the database -->
  <div class="links-row">
    <% @list_of_items.each do |the_item| %>
      <div class="item">
        <!-- Thumbnail from the database -->
        <img src="<%= the_item.thumbnail_url %>" class="thumbnail">

        <!-- Link description and URL -->
        <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
          <%= the_item.link_description %>
        </a>
      </div>
    <% end %>
  </div>
</div>

